<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col>
      <div class="ion-canvas">
        <canvas #canvas id="micanvas" (click)="fireEvent($event)"></canvas>

      </div>
      <button ion-button color="primary" (click)="drawTriangle()">
        dibuja un triangulo
      </button>
      <button ion-button color="primary" (click)="lineaTexto()">
        Separador
      </button>
      <button ion-button color="primary" (click)="cargaimagen()">
        cargaimagen
      </button>
      <button ion-button color="primary" (click)="vertexto()">
        ver texto
      </button>

      <button ion-button color="primary" (click)="guardarcanvas()">
        guardarcanvas
      </button>

      <button ion-button color="primary" (click)="clearCanvas()">
        Reset
      </button>

      <button ion-button color="primary" (click)="reconstruirEscena()">
        Cargar Escena
      </button>

      <button ion-button color="primary" (click)="continuarEscena()">
        Continuar escena
      </button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size-md="6" offset-md="3">


      <ion-col size-md="2" offset-md="3">
        <h3>Personajes en escena</h3>
        <div *ngFor="let personaje of listaPersonajeEscenaActual"> 
          <ion-col align-self-center text-center>
            <form #form3="ngForm" (ngSubmit)="borrarPersonajeEscena(personaje,form3)" method="post">
              <ion-item>
                <ion-label position="floating">{{personaje.id}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Tiempo de salida</ion-label>
                <ion-input ngModel type="name" name="tiempo" placeholder="Tiempo"></ion-input>
              </ion-item>
              <button type="submit" ion-button icon-start clear small (click)="borrarPersonajeEscena(personaje,form3)">
                <ion-icon name="text"></ion-icon>
                <div>Quitar de la escena</div>
              </button>

            </form>
         
          </ion-col>
        </div>
      </ion-col>


      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <h3>Elije una foto</h3>
            <div class="form-group">
              <input type="file" name="image" (change)="fileProgress($event)" />
            </div>
            <div *ngIf="fileUploadProgress">
              Upload progress: {{ fileUploadProgress }}
            </div>
            <div class="image-preview mb-3" *ngIf="previewUrl">
              <img [src]="previewUrl" height="300" />
            </div>

            <div class="mb-3" *ngIf="uploadedFilePath">
              {{uploadedFilePath}}
            </div>

            <div class="form-group">
              <button class="btn btn-primary" (click)="onSubmit()">Guardar foto</button>

            </div>
          </div>
        </div>
      </div>

    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col size-md="6" offset-md="3">


      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-10">
            <form #form="ngForm" (ngSubmit)="putText(form)" method="post">
              <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input ngModel type="name" name="name" placeholder="Texto"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Tiempo</ion-label>
                <ion-input ngModel type="name" name="tiempo" placeholder="Tiempo"></ion-input>
              </ion-item>

              <button type="submit" expand="full">Cargar texto</button>

            </form>

            <form #form2="ngForm" (ngSubmit)="putImage(form2)" method="post">
              <ion-item>
                <ion-label position="floating">URL</ion-label>
                <ion-input ngModel type="name" name="name" placeholder="url"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Tiempo entrada</ion-label>
                <ion-input ngModel type="name" name="tiempoentrada" placeholder="Tiempo"></ion-input>
              </ion-item>
           
              <ion-item>
                <ion-label position="floating">Nombre personaje</ion-label>
                <ion-input ngModel type="name" name="id" placeholder="nombre"></ion-input>
              </ion-item>

              <button type="submit" expand="full">Cargar imagen</button>

            </form>


          </div>
        </div>
      </div>

      <ion-row>
        <ion-col>
          <button ion-button color="primary" (click)="drawImageFondoMario()">
            Cargar fondo
          </button>
          <div (click)="cargarMario()">
            <img
              src="https://lh3.googleusercontent.com/proxy/dGyhQOktIvNaloENhf6oFvU3GteegJaCmyXGn1i3RacehXjsnF0KPhA39XP1hAy4UzSePELqw-8SEB9QmNZy6cXTF8E7zMwPk8oU8pLN5Id0wx03MYU">
          </div>
          <button ion-button color="primary" (click)="vertexto()">
            Luigi
          </button>

          <button ion-button color="primary" (click)="guardarcanvas()">
            guardarcanvas
          </button>

          <button ion-button color="primary" (click)='startTimer()'>Start Timer</button>
          <button ion-button color="primary" (click)='pauseTimer()'>Pause</button>

        </ion-col>
      </ion-row>


    </ion-col>
  </ion-row>




</ion-content>