<ion-header translucent>
  <ion-toolbar>
    <ion-title>Cuentame</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-canvas">
          <canvas #canvas id="micanvas" (click)="fireEvent($event)"></canvas>
        </div>
      </ion-col>
      <ion-col>
        <div>

          <ion-item>

            <button ion-button (click)="muestra()">VER FONDOS</button>

            <button ion-button (click)="oculta()">Ocultar fondos</button>
            <div *ngIf="muestrame">
              <h2>Elije un fondo</h2>
              <ion-grid>
                <ion-row>

                  <ion-col>
                    <ion-row *ngFor="let fondo of listaFondosIzquierda">
                      <img src={{fondo.src}} width="360" height="360">
                    </ion-row>
                  </ion-col>

                  <ion-col>
                    <ion-row *ngFor="let fondo of listaFondosDerecha">
                      <img src={{fondo.src}} width="360" height="360">
                    </ion-row>
                  </ion-col>

                </ion-row>

              </ion-grid>

            </div>

          </ion-item>



        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>1 of 3</div>
      </ion-col>
      <ion-col>
        <div>2 of 3</div>
      </ion-col>
      <ion-col>
        <div>3 of 3</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>1 of 3</div>
      </ion-col>
      <ion-col col-6>
        <div>2 of 3</div>
      </ion-col>
      <ion-col>
        <div>3 of 3</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <div>1 of 3</div>
      </ion-col>
      <ion-col>
        <div>2 of 3</div>
      </ion-col>
      <ion-col>
        <div>3 of 3</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-4>
        <div>1 of 2</div>
      </ion-col>
      <ion-col>
        <div>2 of 2</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>1 of 2</div>
      </ion-col>
      <ion-col offset-4>
        <div>2 of 2</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>1 of 4</div>
      </ion-col>
      <ion-col>
        <div>2 of 4</div>
      </ion-col>
      <ion-col>
        <div>3 of 4</div>
      </ion-col>
      <ion-col>
        <div>4 of 4</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>